<div class ="rows">
      <div class ="col-md-2">
        <%= product.name %>
      </div>
      <div class ="col-md-2">
        <%= product.description %>
      </div>
      <div class ="col-md-2">
        <%= product.image_url %>
      </div>
      <div class ="col-md-2">
        <%= product.colour %>
      </div>
      <div class ="col-md-2">
        <%= product.price %>
      </div>
      <div class ="col-md-2">
        <span class ="product-action">
          <%= link_to 'Show', product %>
        </span>
        <span class ="product-action">
          <%= link_to 'Edit', edit_product_path(product) %>
        </span>
        <span class ="product-action">
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </div>
    </div>