<p id="notice"><%= notice %></p>

<h1>My products</h1>

<div class="container-fluid my-products">
  <div class ="rows products-heading">
    <div class ="col-md-2">
        <p>Title</p>
      </div>
      <div class ="col-md-2">
        <p>Description</p>
      </div>
      <div class ="col-md-2">
        <p>Image</p>
      </div>
      <div class ="col-md-2">
        <p>Colour</p>
      </div>
      <div class ="col-md-4">
        <p class ="product-action" >Actions</p>
      </div>
  </div>
  <% @products.each do |product| %>
    <div class ="rows">
      <div class ="col-md-2">
        <%= product.name %>
      </div>
      <div class ="col-md-2">
        <%= product.description %>
      </div>
      <div class ="col-md-2">
        <%= product.image_url %>
      </div>
      <div class ="col-md-2">
        <%= product.colour %>
      </div>
      <div class ="col-md-4">
        <span class ="product-action">
          <%= link_to 'Show', product %>
        </span>
        <span class ="product-action">
          <%= link_to 'Edit', edit_product_path(product) %>
        </span>
        <span class ="product-action">
          <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </div>
    </div>
  <% end %>
</div>

<br>

<div class ="add-new-product">
  <%= link_to 'New Product', new_product_path %>
</div>
